*.pyc
.*.swp
*$py.class
.coverage
build
build-stamp
*.so
configure-stamp
debian/files
debian/python-llbase
debian/python-llbase.*.debhelper
debian/python-llbase.substvars
debian/python-llbase.debhelper.log
debian/python3-llbase
debian/python3-llbase.*.debhelper
debian/python3-llbase.substvars
debian/python3-llbase.debhelper.log
debian/debhelper-build-stamp
.pybuild
MANIFEST
dist
stage/
.eggs/
.tox/
llbase-*.tar.bz2
llbase.egg-info/
*.orig
*.bak
