Source: llbase
Section: python
Priority: optional
Maintainer: Nat Linden <nat@secondlife.com>
Build-Depends: debhelper (>= 9),
 dh-python,
 python-all,
 python3-all,
 python-nose,
 python3-nose,
 python-setuptools,
 python3-setuptools
Standards-Version: 3.9.8 
X-Python-Version: =2.7
X-Python3-Version: >=3.4
Testsuite: autopkgtest-pkg-python
Homepage: http://bitbucket.org/lindenlab/llbase/

Package: python-llbase
Architecture: any
Depends: ${python:Depends}, ${misc:depends}
X-Python-Version: python (>= 2.7)
Description: Base linden python modules (Python 2)
 Base linden python modules used in many python projects.
 .
 This package installs the library for Python 2.

Package: python3-llbase
Architecture: any
Depends: ${python3:Depends}, ${misc:depends}
X-Python-Version: python (>= 3.4)
Description: Base linden python modules (Python 3)
 Base linden python modules used in many python projects.
 .
 This package installs the library for Python 3.
